* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 14px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center everything horizontally */
  text-align: center;
}
h1{
  font-weight: 600;
  font-size: 24px;
}
h2{
  font-weight: 500;
}
h3{
  font-weight: 400;
}

body
{
background-color: black;
}
.social-link-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  
}
.container {
  padding: 1rem;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color:  hsl(0, 0%, 8%);
  
  margin: 5rem auto;
 
}

ul{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.link-item
{
   text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: hsl(0, 0%, 8%);
 
}

a.social-link:hover {
 
  background-color: hsl(75, 94%, 57%);
  color: black;
}

a.social-link:visited {
  
  text-decoration: none;
}
a.social-link:focus {
  outline: none;
 

}
a.social-link {
  padding: 10px 80px; /* Increased horizontal padding to make the box wider */
  text-decoration: none !important;
  color: white;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 20%);
  flex: 1;
  width: 60%;

}



  img {
    width: 100px; /* or any size you want */
    height: 100px; /* same as width for a perfect circle */
    object-fit: cover; /* makes sure the image covers the box nicely */
    border-radius: 50%; /* this makes it a circle */
  }
  .location{
    color: hsl(75, 94%, 57%);
  }
  @media (min-width:1440px) {
    .container {
      padding: 3rem;
      max-width: 500px;
     
  }
  a.social-link {
    padding: 10% 100%; /* Increased horizontal padding to make the box wider */
    text-decoration: none !important;
    color: white;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
  }
  }